/*.my-custom-grid-red .x-column-header-inner {
    zoom: 1;
    position: relative;
    white-space: nowrap;
    line-height: 22px;
    padding: 0px 6px 12px 96px;
    background-color: red;
}

.my-custom-grid-green .x-column-header-inner {
    zoom: 1;
    position: relative;
    white-space: nowrap;
    line-height: 22px;
    padding: 0px 6px 12px 96px;
    background-color: green;
}*/
